body {
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: rgba(7, 75, 235, 0.799);
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

#botao {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.primeira_parte {
    text-align: center;
    margin-top: 50px;
    background-color: rgb(56, 56, 217);
    border: 1px black solid;
    border-radius: 12px;
    color: white;
}