<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aguiarrealstate</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/reset.css">
    <link rel="icon" type="image/x-icon" href="/src/main/resources/static/images/adjust the favicon b.png">
    <link rel="stylesheet" href="/src/main/resources/static/css/index.css">
</head>
    <div id="imagem_inicial">
        <h1>Seja bem vindo ao Aguiar Real State!</h1>
        <img src="/src/main/resources/static/images/adjust the favicon b.png" alt="" id="aguia">
    </div>
    <div id="botões">
        <h3>O que você gostaria de fazer?</h3>
        <a href="">CLIQUE AQUI PARA VER IMÓVEIS JÁ ANUNCIADOS</a>
        <a href="">CLIQUE AQUI PARA ADICIONAR UM IMÓVEL</a>
    </div>
<body>
</body>
</html>
<style>
#imagem_inicial {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #FFFFFF;
}    

#aguia {
    width: 150px;
    height: 150px;
}

#botões {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 150px;
}

a {
    background-color: rgb(4, 164, 228);
    padding: 15px;
    border-radius: 12px;
}
</style>