<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aguiarrealstate</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/reset.css">
    <link rel="icon" type="image/x-icon" href="/src/main/resources/static/images/adjust the favicon b.png">
    <link rel="stylesheet" href="/src/main/resources/static/css/index.css">
</head>
    <div id="imagem_inicial">
        <h1>Seja bem vindo ao Aguiar Real State!</h1>
        <img src="/src/main/resources/static/images/adjust the favicon b.png" alt="" id="aguia">
    </div>
    <div>
        <h3>O que você gostaria de fazer?</h3>
        <button>CLIQUE AQUI PARA VER OS IMÓVEIS DISPONÍVEIS</button>
        <button>CLIQUE AQUI PARA ANUNCIAR UM IMÓVEL</button>
    </div>
<body>
</body>
</html>
